body{font-family: Helvetica, arial; margin:0; padding: 0}
header{text-align: center; background: rgb(40,40,40); color: white; font-size: 150%; padding: 5px 0;}
input{border:1px solid rgb(200,200,200);padding:3px;width:200px}

h3,h4{margin: 20px 0 5px}
#content{padding: 0 10px}
.todo{float:left; width: 45%}
#Todo2{float:right}
ul{list-style: none;padding: 0; margin: 0}
li{margin:0;position:relative;border-bottom:4px solid white;border-top:4px solid white;padding: 5px; color: white}
li:nth-child(even){background: rgb(169,169,167)}
li:nth-child(odd){background: rgb(85,102,135)}
li p{margin:0; padding: 0}
li small{font-size: 80%}
li a.close{
    position: absolute;
	top: -5px;
	right: -5px;
	cursor: pointer;
	color: #fff;
	border: 1px solid #AEAEAE;
	border-radius: 16px;
	background: rgb(0,0,0);
	font-size: 12px;
	display: inline-block;
	line-height: 0px;
	padding: 7px 3px 8px 4px;
	text-decoration: none;
	font-weight: bold;   
}

a.close:before {
    content: "×";
}
